[Service]
ExecStart=/var/lib/cozy-indexer/cozy-indexer
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cozy-indexer
User=cozy

[Install]
WantedBy=multi-user.target
